
db/Lab_VHDL.(3).cnf.hdb
db/Lab_VHDL.(4).cnf.cdb
db/Lab_VHDL.(4).cnf.hdb
db/Lab_VHDL.(5).cnf.cdb
db/Lab_VHDL.(5).cnf.hdb
db/Lab_VHDL.(6).cnf.cdb
db/Lab_VHDL.(6).cnf.hdb
db/Lab_VHDL.asm.qmsg
db/Lab_VHDL.asm.rdb
db/Lab_VHDL.cbx.xml
db/Lab_VHDL.cmp.hdb
db/Lab_VHDL.cmp.idb
db/Lab_VHDL.cmp.rdb
db/Lab_VHDL.cmp_merge.kpt
db/Lab_VHDL.cyclonev_io_sim_cache.ff_0c_fast.hsd
db/Lab_VHDL.cyclonev_io_sim_cache.ff_85c_fast.hsd
db/Lab_VHDL.cyclonev_io_sim_cache.ss_0c_slow.hsd
db/Lab_VHDL.cyclonev_io_sim_cache.ss_85c_slow.hsd
db/Lab_VHDL.db_info
db/Lab_VHDL.eda.qmsg
db/Lab_VHDL.fit.qmsg
db/Lab_VHDL.hier_info
db/Lab_VHDL.hif
db/Lab_VHDL.lpc.html
db/Lab_VHDL.lpc.rdb
db/Lab_VHDL.lpc.txt
db/Lab_VHDL.map.ammdb
db/Lab_VHDL.map.bpm
db/Lab_VHDL.map.cdb
db/Lab_VHDL.map.hdb
db/Lab_VHDL.map.kpt
db/Lab_VHDL.map.logdb
db/Lab_VHDL.map.qmsg
db/Lab_VHDL.map.rdb
db/Lab_VHDL.map_bb.cdb
db/Lab_VHDL.map_bb.hdb
db/Lab_VHDL.map_bb.logdb
db/Lab_VHDL.npp.qmsg
db/Lab_VHDL.pre_map.hdb
db/Lab_VHDL.quiproj.6888.rdr.flock
db/Lab_VHDL.root_partition.map.reg_db.cdb
db/Lab_VHDL.routing.rdb
db/Lab_VHDL.rtlv.hdb
db/Lab_VHDL.rtlv_sg.cdb
db/Lab_VHDL.rtlv_sg_swap.cdb
db/Lab_VHDL.sgate.nvd
db/Lab_VHDL.sgate_sm.nvd
db/Lab_VHDL.sld_design_entry.sci
db/Lab_VHDL.sld_design_entry_dsc.sci
db/Lab_VHDL.smart_action.txt
db/Lab_VHDL.sta.qmsg
db/Lab_VHDL.sta.rdb
db/Lab_VHDL.tis_db_list.ddb
db/Lab_VHDL.tiscmp.fast_1100mv_0c.ddb
db/Lab_VHDL.tiscmp.fast_1100mv_85c.ddb
db/Lab_VHDL.tiscmp.fastest_slow_1100mv_0c.ddb
db/Lab_VHDL.tiscmp.fastest_slow_1100mv_85c.ddb
db/Lab_VHDL.tiscmp.slow_1100mv_0c.ddb
db/Lab_VHDL.tiscmp.slow_1100mv_85c.ddb
db/Lab_VHDL.tmw_info
db/Lab_VHDL.vpr.ammdb
db/Lab_VHDL_partition_pins.json
db/prev_cmp_Lab_VHDL.qmsg
incremental_db/compiled_partitions/Lab_VHDL.db_info
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.ammdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.cdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.dfp
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.hbdb.cdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.hbdb.hdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.hbdb.sig
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.hdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.logdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.cdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.dpi
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.hdb
incremental_db/compiled_partitions/Lab_VHDL.root_partition.map.kpt
incremental_db/compiled_partitions/Lab_VHDL.rrp.hdb
incremental_db/compiled_partitions/Lab_VHDL.rrs.cdb
incremental_db/README
output_files/Lab_VHDL.asm.rpt
output_files/Lab_VHDL.done
output_files/Lab_VHDL.eda.rpt
output_files/Lab_VHDL.fit.rpt
output_files/Lab_VHDL.fit.smsg
output_files/Lab_VHDL.fit.summary
output_files/Lab_VHDL.flow.rpt
output_files/Lab_VHDL.jdi
output_files/Lab_VHDL.map.rpt
output_files/Lab_VHDL.map.summary
output_files/Lab_VHDL.pin
output_files/Lab_VHDL.sld
output_files/Lab_VHDL.sof
output_files/Lab_VHDL.sta.rpt
output_files/Lab_VHDL.sta.summary
simulation/modelsim/Lab_VHDL.sft
simulation/modelsim/Lab_VHDL.vo
simulation/modelsim/Lab_VHDL_modelsim.xrf
simulation/qsim/Lab_VHDL.do
simulation/qsim/Lab_VHDL.msim.vcd
simulation/qsim/Lab_VHDL.sft
simulation/qsim/Lab_VHDL.vho
simulation/qsim/Lab_VHDL_20181019205439.sim.vwf
simulation/qsim/Lab_VHDL_20181019220722.sim.vwf
simulation/qsim/Lab_VHDL_20181019222808.sim.vwf
simulation/qsim/Lab_VHDL_20181019223124.sim.vwf
simulation/qsim/Lab_VHDL_20181019223223.sim.vwf
simulation/qsim/Lab_VHDL_20181020142318.sim.vwf
simulation/qsim/Lab_VHDL_20181020142731.sim.vwf
simulation/qsim/Lab_VHDL_20181020150454.sim.vwf
simulation/qsim/Lab_VHDL_20181020151835.sim.vwf
simulation/qsim/Lab_VHDL_20181020173316.sim.vwf
simulation/qsim/Lab_VHDL_20181020173814.sim.vwf
simulation/qsim/Lab_VHDL_modelsim.xrf
simulation/qsim/transcript
simulation/qsim/vwf_sim_transcript
simulation/qsim/Waveform.vwf.vht
simulation/qsim/Waveform1.vwf.vht
simulation/qsim/Waveform2.vwf.vht
simulation/qsim/Waveform3.vwf.vht
simulation/qsim/Waveform4.vwf.vht
simulation/qsim/Waveform5.vwf.vht
simulation/qsim/work/_info
simulation/qsim/work/_lib.qdb
simulation/qsim/work/_lib1_2.qdb
simulation/qsim/work/_lib1_2.qpg
simulation/qsim/work/_lib1_2.qtl
simulation/qsim/work/_vmake
c5_pin_model_dump.txt
db/.cmp.kpt
db/Lab_VHDL.(0).cnf.cdb
db/Lab_VHDL.(0).cnf.hdb
db/Lab_VHDL.(1).cnf.cdb
db/Lab_VHDL.(1).cnf.hdb
db/Lab_VHDL.(2).cnf.cdb
db/Lab_VHDL.(2).cnf.hdb
db/Lab_VHDL.(3).cnf.cdb
db/Lab_VHDL.(10).cnf.cdb
db/Lab_VHDL.(10).cnf.hdb
db/Lab_VHDL.(11).cnf.cdb
db/Lab_VHDL.(11).cnf.hdb
db/Lab_VHDL.(12).cnf.cdb
db/Lab_VHDL.(12).cnf.hdb
db/Lab_VHDL.(7).cnf.cdb
db/Lab_VHDL.(7).cnf.hdb
db/Lab_VHDL.(8).cnf.cdb
db/Lab_VHDL.(8).cnf.hdb
db/Lab_VHDL.(9).cnf.cdb
db/Lab_VHDL.(9).cnf.hdb
db/Lab_VHDL.quiproj.1904.rdr.flock
simulation/modelsim/WaveformROM.vwf.do
simulation/modelsim/WaveformROM.vwf.vht
simulation/qsim/Lab_VHDL_20181020182242.sim.vwf
simulation/qsim/Lab_VHDL_20181020182321.sim.vwf
simulation/qsim/Lab_VHDL_20181020182739.sim.vwf
simulation/qsim/Lab_VHDL_20181020225859.sim.vwf
simulation/qsim/Lab_VHDL_20181020230209.sim.vwf
simulation/qsim/Lab_VHDL_20181020231207.sim.vwf
simulation/qsim/Lab_VHDL_20181020231444.sim.vwf
simulation/qsim/Lab_VHDL_20181020231544.sim.vwf
simulation/qsim/Lab_VHDL_20181021234017.sim.vwf
simulation/qsim/Lab_VHDL_20181022134041.sim.vwf
simulation/qsim/Lab_VHDL_20181022134355.sim.vwf
simulation/qsim/Lab_VHDL_20181022135226.sim.vwf
simulation/qsim/Lab_VHDL_20181022135631.sim.vwf
simulation/qsim/Lab_VHDL_20181022140056.sim.vwf
simulation/qsim/Waveform6.vwf.vht
simulation/qsim/Waveform7.vwf.vht
simulation/qsim/work/_lib1_5.qdb
simulation/qsim/work/_lib1_5.qpg
simulation/qsim/work/_lib1_5.qtl
db/Lab_VHDL.(13).cnf.cdb
db/Lab_VHDL.(13).cnf.hdb
db/Lab_VHDL.(14).cnf.cdb
db/Lab_VHDL.(14).cnf.hdb
db/Lab_VHDL.(15).cnf.cdb
db/Lab_VHDL.(15).cnf.hdb
db/Lab_VHDL.(16).cnf.cdb
db/Lab_VHDL.(16).cnf.hdb
db/Lab_VHDL.quiproj.9980.rdr.flock
Lab_VHDL.qsf
simulation/qsim/Lab_VHDL_20181022185607.sim.vwf
simulation/qsim/Lab_VHDL_20181022190018.sim.vwf
simulation/qsim/Lab_VHDL_20181022190457.sim.vwf
simulation/qsim/Lab_VHDL_20181022191230.sim.vwf
simulation/qsim/Lab_VHDL_20181022191243.sim.vwf
simulation/qsim/Lab_VHDL_20181022191304.sim.vwf
simulation/qsim/Lab_VHDL_20181022191324.sim.vwf
simulation/qsim/Lab_VHDL_20181022191342.sim.vwf
simulation/qsim/Lab_VHDL_20181022191402.sim.vwf
simulation/qsim/Lab_VHDL_20181022191423.sim.vwf
simulation/qsim/Lab_VHDL_20181022191444.sim.vwf
simulation/qsim/Lab_VHDL_20181022191503.sim.vwf
simulation/qsim/Lab_VHDL_20181022222219.sim.vwf
simulation/qsim/Lab_VHDL_20181022222455.sim.vwf
simulation/qsim/Lab_VHDL_20181022222632.sim.vwf
simulation/qsim/Lab_VHDL_20181022222810.sim.vwf
simulation/qsim/Lab_VHDL_20181022222929.sim.vwf
simulation/qsim/Lab_VHDL_20181022223000.sim.vwf
simulation/qsim/Lab_VHDL_20181022223027.sim.vwf
simulation/qsim/Lab_VHDL_20181022223054.sim.vwf
simulation/qsim/Lab_VHDL_20181022223139.sim.vwf
simulation/qsim/Lab_VHDL_20181022223218.sim.vwf
simulation/qsim/Lab_VHDL_20181022223258.sim.vwf
simulation/qsim/Lab_VHDL_20181022223324.sim.vwf
simulation/qsim/Lab_VHDL_20181022223344.sim.vwf
simulation/qsim/Lab_VHDL_20181022235230.sim.vwf
simulation/qsim/Lab_VHDL_20181023000040.sim.vwf
simulation/qsim/Lab_VHDL_20181023000525.sim.vwf
simulation/qsim/Lab_VHDL_20181023000729.sim.vwf
simulation/qsim/Waveform8.vwf.vht
simulation/qsim/Waveform9.vwf.vht
simulation/qsim/work/_lib1_14.qdb
simulation/qsim/work/_lib1_14.qpg
simulation/qsim/work/_lib1_14.qtl
Waveform3.vwf
Waveform5.vwf
Waveform6.vwf
Waveform3.vwf
Waveform5.vwf
Waveform3.vwf
Waveform5.vwf
Waveform3.vwf
Waveform5.vwf
simulation/qsim/Lab_VHDL_20181023211014.sim.vwf
simulation/qsim/Lab_VHDL_20181023211046.sim.vwf
simulation/qsim/Lab_VHDL_20181023211216.sim.vwf
simulation/qsim/Lab_VHDL_20181025131447.sim.vwf
simulation/qsim/Lab_VHDL_20181025132211.sim.vwf
simulation/qsim/Lab_VHDL_20181025134728.sim.vwf
simulation/qsim/Lab_VHDL_20181025141116.sim.vwf
simulation/qsim/Lab_VHDL_20181025141552.sim.vwf
simulation/qsim/work/_lib1_16.qdb
simulation/qsim/work/_lib1_16.qpg
simulation/qsim/work/_lib1_16.qtl
db/Lab_VHDL.smp_dump.txt
db/Lab_VHDL.(17).cnf.cdb
db/Lab_VHDL.(17).cnf.hdb
db/Lab_VHDL.(18).cnf.cdb
db/Lab_VHDL.(18).cnf.hdb
db/Lab_VHDL.quiproj.9384.rdr.flock
Lab_VHDL_assignment_defaults.qdf
simulation/qsim/Lab_VHDL_20181026124636.sim.vwf
simulation/qsim/Lab_VHDL_20181026125119.sim.vwf
simulation/qsim/Lab_VHDL_20181026125207.sim.vwf
simulation/qsim/Lab_VHDL_20181026125607.sim.vwf
simulation/qsim/Lab_VHDL_20181026125632.sim.vwf
simulation/qsim/Lab_VHDL_20181026130429.sim.vwf
simulation/qsim/Lab_VHDL_20181026130735.sim.vwf
simulation/qsim/Lab_VHDL_20181026131426.sim.vwf
simulation/qsim/Lab_VHDL_20181026140244.sim.vwf
simulation/qsim/Lab_VHDL_20181026140321.sim.vwf
simulation/qsim/Lab_VHDL_20181026140643.sim.vwf
simulation/qsim/Lab_VHDL_20181026144159.sim.vwf
simulation/qsim/Lab_VHDL_20181026144811.sim.vwf
simulation/qsim/Lab_VHDL_20181026145221.sim.vwf
simulation/qsim/Waveform10.vwf.vht
simulation/qsim/Waveform11.vwf.vht
simulation/qsim/Waveform12.vwf.vht
simulation/qsim/Waveform13.vwf.vht
simulation/qsim/Waveform14.vwf.vht
simulation/qsim/work/_lib1_33.qdb
simulation/qsim/work/_lib1_33.qpg
simulation/qsim/work/_lib1_33.qtl
Waveform8.vwf
